In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
      .master("local[1]") \
      .appName("SparkByExamples.com") \
      .getOrCreate()

22/12/14 19:45:54 WARN Utils: Your hostname, Dans-MacBook-Pro.local resolves to a loopback address: 127.0.0.1; using 192.168.0.106 instead (on interface en0)
22/12/14 19:45:54 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/14 19:45:55 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### SQL queries with PySpark

In [2]:
data = [('James','','Smith','1991-04-01','M',3000),
  ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
]
schema = ["firstname","middlename","lastname","dob","gender","salary"]
df = spark.createDataFrame(data, schema)

In [3]:
df.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

In [4]:
df.createOrReplaceTempView("Company")

In [5]:
gender_groups_df = spark.sql("SELECT gender, COUNT(*) as amount FROM Company GROUP BY gender")
gender_groups_df.show()

+------+------+
|gender|amount|
+------+------+
|     F|     2|
|     M|     3|
+------+------+

In [6]:
salary_costs_df = spark.sql("SELECT gender, SUM(salary) as costs FROM Company WHERE salary != -1 GROUP BY gender")
salary_costs_df.show()

+------+-----+
|gender|costs|
+------+-----+
|     F| 4000|
|     M|11000|
+------+-----+